/* ---- grid ---- */
.grid {
    box-sizing: border-box;
}

/* clearfix */
.grid:after {
    content: '';
    display: block;
    clear: both;
}

/* ---- grid-item ---- */
.grid-item {
    width: 340px;
    float: left;
}
