.rubro{
    box-sizing: border-box;
    color: rgb(91, 46, 138);
    font-family: "Montserrat", sans-serif;
    font-size: 16px;
    font-weight: 400;
    hyphens: manual;
    line-height: 16px;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 0px;
    padding-bottom: 0px;
    padding-left: 0px;
    padding-right: 0px;
    padding-top: 0px;
}

.razon_social {
    box-sizing: border-box;
    color: rgb(48, 48, 48);
    font-family: "Montserrat", sans-serif;
    font-size: 38.4px;
    font-weight: 600;
    hyphens: manual;
    line-height: 38.4px;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 0px;
    padding-bottom: 0px;
    padding-left: 0px;
    padding-right: 0px;
    padding-top: 0px;
}
.ciudad {
    box-sizing: border-box;
    color: rgb(48, 48, 48);
    font-family: "Montserrat", sans-serif;
    font-size: 19.2px;
    font-weight: 300;
    hyphens: manual;
    line-height: 19.2px;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 0px;
    padding-bottom: 0px;
    padding-left: 0px;
    padding-right: 0px;
    padding-top: 0px;
}


.img-marca {
    height: 200px;
    border-bottom-color: rgb(91, 46, 138);
    border-bottom-style: solid;
    border-bottom-width: 3px;
    border-bottom-left-radius: 100%;
    border-bottom-right-radius: 100%;
    border-image-outset: 0;
    border-image-repeat: stretch;
    border-image-slice: 100%;
    border-image-source: none;
    border-image-width: 1;
    border-left-color: rgb(91, 46, 138);
    border-left-style: solid;
    border-left-width: 3px;
    border-right-color: rgb(91, 46, 138);
    border-right-style: solid;
    border-right-width: 3px;
    border-top-color: rgb(91, 46, 138);
    border-top-left-radius: 100%;
    border-top-right-radius: 100%;
    border-top-style: solid;
    border-top-width: 3px;
    box-shadow: rgba(255, 255, 255, 0.34) 0px 0px 10px 0px;
    box-sizing: border-box;
    color: rgb(51, 51, 51);
    display: inline-block;
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans, sans-serif;
    font-size: 16px;
    font-weight: 400;
    height: 200px;
    hyphens: manual;
    line-height: 24px;
    max-width: 100%;
    opacity: 1;
    text-align: left;
    transition-delay: 0s;
    transition-duration: 0.3s;
    transition-property: opacity;
    transition-timing-function: ease;
    vertical-align: middle;
    width: 200px;   
}

.marca {
    border-bottom-color: rgb(255, 255, 255);
    border-bottom-left-radius: 100%;
    border-bottom-right-radius: 100%;
    border-bottom-style: solid;
    border-bottom-width: 3px;
    border-image-outset: 0;
    border-image-repeat: stretch;
    border-image-slice: 100%;
    border-image-source: none;
    border-image-width: 1;
    border-left-color: rgb(255, 255, 255);
    border-left-style: solid;
    border-left-width: 3px;
    border-right-color: rgb(255, 255, 255);
    border-right-style: solid;
    border-right-width: 3px;
    border-top-color: rgb(255, 255, 255);
    border-top-left-radius: 100%;
    border-top-right-radius: 100%;
    border-top-style: solid;
    border-top-width: 3px;
    box-shadow: rgba(255, 255, 255, 0.34) 0px 0px 10px 0px;
    box-sizing: border-box;
    color: rgb(51, 51, 51);
    display: inline-block;
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans, sans-serif;
    font-size: 16px;
    font-weight: 400;
    height: 200px;
    hyphens: manual;
    line-height: 24px;
    max-width: 100%;
    opacity: 1;
    text-align: left;
    transition-delay: 0s;
    transition-duration: 0.3s;
    transition-property: opacity;
    transition-timing-function: ease;
    vertical-align: middle;
    width: 200px;
}

.header-tarj {
    vertical-align: middle;
    text-align: center;
    padding-top: 25px;
    padding-bottom: 35px;
}

.header-left {
    display: inline-block;
    text-align: right !important;
    padding-right: 25px;
    vertical-align: middle;
}

.header-right {
    display: inline-block;
    text-align: left !important;
    vertical-align: middle;
    padding-top: 25px;
}

.background-2 {
    text-align: center;
    vertical-align: middle;

    background-color: rgb(183, 230, 223);
    box-sizing: border-box;
    color: rgb(51, 51, 51);
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans, sans-serif;
    font-size: 16px;
    font-weight: 400;
    hyphens: manual;
    line-height: 24px;
    padding-bottom: 60px;
    padding-left: 0px;
    padding-right: 0px;
    padding-top: 60px;
    position: relative;
    transition-delay: 0s, 0s, 0s, 0s;
    transition-duration: 0.3s, 0.3s, 0.3s, 0.3s;
    transition-property: background, border, border-radius, box-shadow;
    transition-timing-function: ease, ease, ease, ease;
}

.strip-background {
    text-align: center;
    vertical-align: middle;

    background-color: rgb(255, 255, 255);
    box-sizing: border-box;
    color: rgb(51, 51, 51);
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans, sans-serif;
    font-size: 16px;
    font-weight: 400;
    hyphens: manual;
    line-height: 24px;
    padding-bottom: 60px;
    padding-left: 0px;
    padding-right: 0px;
    padding-top: 60px;
    position: relative;
    transition-delay: 0s, 0s, 0s, 0s;
    transition-duration: 0.3s, 0.3s, 0.3s, 0.3s;
    transition-property: background, border, border-radius, box-shadow;
    transition-timing-function: ease, ease, ease, ease;
}

.subtitle {
    box-sizing: border-box;
    color: rgb(0, 0, 0);
    font-family: "Montserrat", sans-serif;
    font-size: 32px;
    font-weight: 600;
    hyphens: manual;
    line-height: 32px;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 0px;
    padding-bottom: 20px;
    padding-left: 0px;
    padding-right: 0px;
    padding-top: 0px;
    text-align: center;
}

.text {
    box-sizing: border-box;
    color: rgb(0, 0, 0);
    font-family: "Varela Round", sans-serif;
    font-size: 22.4px;
    font-weight: 400;
    hyphens: manual;
    line-height: 22.4px;
    text-align: center;
}


.emoji {
    background-attachment: scroll;
    background-clip: border-box;
    background-color: rgba(0, 0, 0, 0);
    background-image: none;
    background-origin: padding-box;
    background-position: 0px 0px;
    background-position-x: 0px;
    background-position-y: 0px;
    background-repeat: repeat;
    background-size: auto;
    border-bottom-color: rgb(48, 48, 48);
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
    border-bottom-style: none;
    border-bottom-width: 0px;
    border-image-outset: 0;
    border-image-repeat: stretch;
    border-image-slice: 100%;
    border-image-source: none;
    border-image-width: 1;
    border-left-color: rgb(48, 48, 48);
    border-left-style: none;
    border-left-width: 0px;
    border-right-color: rgb(48, 48, 48);
    border-right-style: none;
    border-right-width: 0px;
    border-top-color: rgb(48, 48, 48);
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    border-top-style: none;
    border-top-width: 0px;
    box-shadow: none;
    box-sizing: border-box;
    color: rgb(48, 48, 48);
    display: inline;
    font-family: "Varela Round", sans-serif;
    font-size: 22.4px;
    font-weight: 400;
    height: 22.4px;
    hyphens: manual;
    line-height: 22.4px;
    margin-bottom: 0px;
    margin-left: 1.56667px;
    margin-right: 1.56667px;
    margin-top: 0px;
    max-width: 100%;
    opacity: 1;
    padding-bottom: 0px;
    padding-left: 0px;
    padding-right: 0px;
    padding-top: 0px;
    text-align: center;
    transition-delay: 0s;
    transition-duration: 0.3s;
    transition-property: opacity;
    transition-timing-function: ease;
    vertical-align: -2.24px;
    width: 22.4px;
}

/* -------------------- */

.contact-text {
    color: #303030;
    font-family: "Varela Round",Sans-serif;
    font-size: 1.4em;
    font-weight: 400;
    margin-top: 20px;
}

.contact-buttons {
    padding-top: 25px;    
}

.contact-button:hover {
    color:  rgb(183, 230, 223);
    box-shadow: rgba(0, 0, 0, 0.5) 0px 0px 20px 0px;
}

.contact-button {
    background-color: rgb(91, 46, 138);
    border-bottom-left-radius: 31px;
    border-bottom-right-radius: 31px;
    border-top-left-radius: 31px;
    border-top-right-radius: 31px;
    box-shadow: rgba(0, 0, 0, 0.5) 0px 0px 10px 0px;
    box-sizing: border-box;
    color: rgb(255, 255, 255);
    display: inline-block;
    fill: rgb(255, 255, 255);
    font-family: "Montserrat", sans-serif;
    font-size: 20px;
    font-weight: 500;
    hyphens: manual;
    line-height: 20px;
    padding-bottom: 23px;
    padding-left: 23px;
    padding-right: 23px;
    padding-top: 23px;
    text-align: center;
    text-decoration: rgb(255, 255, 255);
    text-decoration-color: rgb(255, 255, 255);
    text-decoration-line: none;
    text-decoration-style: solid;
    text-decoration-thickness: auto;
    transition-delay: 0s;
    transition-duration: 0.3s;
    transition-property: all;
    transition-timing-function: ease;
    width: 63.5px;
}

/* -------------------- */

.sharers {
    text-align: center;
    padding-top: 25px;
}

.sharer-outline {
    align-items: center;
    box-sizing: border-box;
    color: rgb(255, 255, 255);
    cursor: pointer;
    display: inline-flex;
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans, sans-serif;
    font-size: 10px;
    font-weight: 400;
    height: 45px;
    width: 45px;
    hyphens: manual;
    justify-content: center;
    line-height: 15px;
    margin-bottom: 10px;
    margin-left: 5px;
    margin-right: 5px;
    overflow: hidden;
    overflow-x: hidden;
    overflow-y: hidden;
    word-break: break-word;
    -moz-box-align: center;
    -moz-box-pack: center;
    transition-duration: 0.2s;
    transition-property: filter, background-color, border-color, filter;

}

.sharer-inline {
    align-items: center;
    align-self: stretch;
    background-image: linear-gradient(90deg, rgba(0, 0, 0, 0.12), rgba(0, 0, 0, 0));
    box-sizing: border-box;
    color: rgb(255, 255, 255);
    cursor: pointer;
    display: flex;
    flex-grow: 1;
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans, sans-serif;
    font-size: 1.7em;
    font-weight: 400;
    hyphens: manual;
    justify-content: center;
    line-height: 15px;
    position: relative;
    transition-duration: 1s;
    transition-property: color, background-color, background-image, background;
    width: 45px;
    word-break: break-word;
    -moz-box-align: center;
    -moz-box-flex: 1;
    -moz-box-pack: center;
}

.wp-outline {
    background-color: rgb(37, 211, 102);
    
}

.wp-outline:hover {
    background-color:  rgb(37, 211, 102);
    color: #fff;
}

.wp-inline:hover {
    background-image: none;
    background-color: rgb(0, 255, 0);
    color: #fff;
}

.wp-inline {

}

.nobs-link {
    color: #fff;
}
.nobs-link:hover {
    color: #fff;
}

.fb-outline {
    background-color: rgb(59, 89, 152);
}

.fb-inline {
}

.fb-inline:hover {
    background-image: none;
    background-color: rgb(0, 0, 255);
    color: #fff;    
}



.telegram-outline {
    background-color: rgb(44, 165, 224);
}

.telegram-inline {
}

.telegram-inline:hover {
    background-image: none;
    background-color: rgb(100, 200, 255);
}

.tweet-outline {
    background-color: rgb(29, 161, 242);
}

.tweet-inline {
}
.tweet-inline:hover {
    background-image: none;
    background-color: rgb(100, 200, 255)
}

.linkedin-outline {
    background-color: rgb(0, 119, 181);
}

.linkedin-inline {
}

.linkedin-inline:hover {
    background-image: none;
    background-color: rgb(0, 220, 255);
}

.email-outline {
    background-color: rgb(234, 67, 53);
}

.email-inline {
}

.email-inline:hover {
    background-image: none;
    background-color: rgb(255,100,100);
}

/* -------------------- */

.quiero-link {
    background-color: rgb(255, 255, 255);
    border-bottom-left-radius: 100px;
    border-bottom-right-radius: 100px;
    border-top-left-radius: 100px;
    border-top-right-radius: 100px;
    box-shadow: rgba(0, 0, 0, 0.5) 0px 0px 10px 0px;
    box-sizing: border-box;
    color: rgb(65, 65, 65);
    display: inline-block;
    fill: rgb(65, 65, 65);
    font-family: "Montserrat", sans-serif;
    font-size: 14.4px;
    font-weight: 500;
    hyphens: manual;
    line-height: 14.4px;
    padding-bottom: 15px;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 15px;
    text-align: center;
    text-decoration: rgb(65, 65, 65);
    text-decoration-color: rgb(65, 65, 65);
    text-decoration-line: none;
    text-decoration-style: solid;
    text-decoration-thickness: auto;
    transition-delay: 0s;
    transition-duration: 0.3s;
    transition-property: all;
    transition-timing-function: ease;
    width: 270.567px;
}

.quiero-link:hover {
    background-color: rgb(0, 0, 0) !important;
    color: rgb(255, 255, 255) !important;
    text-decoration: none !important;
}

.informar-fallo {
    background-color: rgba(0, 0, 0, 0);
    box-shadow: none;
    box-sizing: border-box;
    color: rgb(255, 0, 0);
    font-family: "Varela Round", sans-serif;
    font-size: 12.8px;
    font-weight: 400;
    hyphens: manual;
    line-height: 12.8px;
    text-align: center;
    text-decoration: rgb(255, 0, 0);
    text-decoration-color: rgb(255, 0, 0);
    text-decoration-line: underline;
    text-decoration-style: solid;
    text-decoration-thickness: auto;
}

.informar-fallo:hover {
    background-color: rgba(0, 0, 0, 0);
    box-shadow: none;
    box-sizing: border-box;
    color: rgb(255, 0, 0);
    font-family: "Varela Round", sans-serif;
    font-size: 12.8px;
    font-weight: 400;
    hyphens: manual;
    line-height: 12.8px;
    text-align: center;
    text-decoration: rgb(255, 0, 0);
    text-decoration-color: rgb(255, 0, 0);
    text-decoration-line: underline;
    text-decoration-style: solid;
    text-decoration-thickness: auto;
}

.carousel-control {
    background-image: none !important;
}

.voucher-outter {
    display: inline-flex;
    align-items: center;
    min-height: 452px;
    /* width: 780px;*/
    border-color: rgb(227, 227, 227);
    border-width: 1px;
    border-style: solid;
}

.voucher-inner {
    text-align: left;
    display: inline-block;
    padding: 30px;
    /* width: 750px;*/
}

.voucher-inner img {
    border-bottom-color: rgb(51, 51, 51);
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
    border-bottom-style: none;
    border-bottom-width: 0px;
    border-image-outset: 0;
    border-image-repeat: stretch;
    border-image-slice: 100%;
    border-image-source: none;
    border-image-width: 1;
    border-left-color: rgb(51, 51, 51);
    border-left-style: none;
    border-left-width: 0px;
    border-right-color: rgb(51, 51, 51);
    border-right-style: none;
    border-right-width: 0px;
    border-top-color: rgb(51, 51, 51);
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    border-top-style: none;
    border-top-width: 0px;
    box-shadow: rgba(0, 0, 0, 0.5) 0px 0px 10px 0px;
    box-sizing: border-box;
    color: rgb(51, 51, 51);
    display: inline-block;
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans, sans-serif;
    font-size: 16px;
    font-weight: 400;
    hyphens: manual;
    line-height: 24px;
    max-width: 100%;
    opacity: 1;
    text-align: center;
    transition-delay: 0s;
    transition-duration: 0.3s;
    transition-property: opacity;
    transition-timing-function: ease;
    vertical-align: middle;
}

.voucher-inner .subtitle {
    text-align: left;
}

.voucher-inner .antes {
    box-sizing: border-box;
    color: rgb(22, 147, 126);
    font-family: "Montserrat", sans-serif;
    font-size: 25.6px;
    font-weight: 400;
    hyphens: manual;
    line-height: 38.4px;
    margin-bottom: 14.4px;
    margin-top: 0px;
    text-align: left;
}

.voucher-inner .precio {
    box-sizing: border-box;
    color: rgb(22, 147, 126);
    font-family: "Montserrat", sans-serif;
    font-size: 25.6px;
    font-weight: 700;
    hyphens: manual;
    line-height: 38.4px;
    text-align: left;
}

.voucher-inner .desc {
    box-sizing: border-box;
    color: rgb(119, 119, 119);
    font-family: "Montserrat", sans-serif;
    font-size: 16px;
    font-weight: 400;
    hyphens: manual;
    line-height: 24px;
    text-align: left;
}

.qr-share {
    text-align: center;
    display: inline-block
}

.comprar-link {
    background-color: rgb(22, 147, 126);
    border-bottom-left-radius: 31px;
    border-bottom-right-radius: 31px;
    border-top-left-radius: 31px;
    border-top-right-radius: 31px;
    box-shadow: rgba(0, 0, 0, 0.5) 0px 0px 10px 0px;
    box-sizing: border-box;
    color: rgb(255, 255, 255);
    display: inline-block;
    fill: rgb(255, 255, 255);
    font-family: "Montserrat", sans-serif;
    font-size: 16px;
    font-weight: 600;
    hyphens: manual;
    line-height: 16px;
    padding-bottom: 15px;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 15px;
    text-align: center;
    text-decoration: rgb(255, 255, 255);
    text-decoration-color: rgb(255, 255, 255);
    text-decoration-line: none;
    text-decoration-style: solid;
    text-decoration-thickness: auto;
    transition-delay: 0s;
    transition-duration: 0.3s;
    transition-property: all;
    transition-timing-function: ease;
    width: 167.983px;
}
.comprar-link:hover {
    background-color: rgb(255, 255, 255);
    border-color: rgb(22, 147, 126);
    color: rgb(22, 147, 126);
    text-decoration: none;
}
